@import 'css/colors';

.sans-serif {
  font-family: sans-serif;
  text-align: middle;
  font-size: 28pt;
  color: $grey-mid;
}

body {
  background-color: $black;
  color: $grey-light;
}

#processing {
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 0;
}
