// For Webpack, template variables have to be a part of the 'locals' object
- locals.title = "Contact - Peter Esveld"
- locals.state = "contact"



include pug/includes/_header.pug
include pug/includes/_nav.pug

body
  h1 Contact Us


include pug/includes/_footer.pug
