// For Webpack, template variables have to be a part of the 'locals' object
- locals.title = "Peter Esveld"
- locals.state = "home"

doctype html
html

  include  pug/includes/_header.pug
  include  pug/includes/_nav.pug
  
  body
    h1(class='sans-serif') Peter Esveld
    div(id="processing")
    p(id="cool") Hi friends! I'm Peter Esveld, a product designer living & working in Toronto, Ontario. I'm currently a design lead at Connected Lab. I also blog, code and make things. Over the years, I've been lucky enough to collaborate with some truly amazing people. Highlights include: Smart Design in NYC, The New York Times, Moment Design, NBC + more. I have an MPS in Interactive Telecommunication (ITP) from NYU Tisch School of the Arts, and a BS in Visualization from MCAD.


  include  pug/includes/_footer.pug
