// For Webpack, template variables have to be a part of the 'locals' object
- locals.title = "Peter Esveld"
- locals.state = "projects"


include  pug/includes/_header.pug
include  pug/includes/_nav.pug

body
  h1 Projects
  
include  pug/includes/_footer.pug
